<div id="leaveapplication" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div class="modal-content modal-lg">
			<div class="modal-body">
				<center>
					<div>
						<img src="<?php echo $this->request->webroot; ?>img/default.png" alt="user">
						<div class="fileupload btn btn-default">
							<a href="<?=BASE_URL?>/uploadphoto"><span class="btn-text">edit</span></a>
							<input class="upload" type="file">
						</div>
					</div>
				</center>
				<form action='teacheradminuploadimages' method='post' enctype="multipart/form-data">
					<center>
						<table>
							<tr>
								<td></td>
								<td>
									<?php if(isset($photo[0]->photo)) { ?>
											$photo = $photo[0]->photo;
									<?php } ?>
										<img class="img-circle" style="height: 300px; margin-bottom: 10px;" src="<?php echo $this->request->webroot; ?>img/<?php echo $photo[0]->photo; ?>" alt="">
									<input name="ufile" type="file" id="ufile" class="form-control btn-default"/></td>
								</td>
							</tr>
						</table>
						<br>
						<p><input type='submit' name='submit' class="btn btn-primary" value='upload photo'></p>
					</center>
				</form>
			</div>
		</div>
	</div>
</div>
<a href="#" class="baction hidden" data-toggle="modal" data-target="#leaveapplication" data-action="add"></a>
<script type="text/javascript">
	$(function () {
		$('.close').click( function() {
			location.href = '<?=BASE_URL?>editprofile';
		});
		$(".baction").click();
		if($('.errorAlert').hasClass('alert-danger') == true) {
			$("#add_employee").modal({
				show: 'true'
			});
		}

	});
</script>





<div class="modal-body">
	<div class="col-md-12 col-sm-3 col-xs-12">
		<section class="x_panel ">
			<div class="x_title">
				<h2>UPLOAD PHOTO </h2>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<div class="profile-img-wrap">
										<img class="inline-block mb-10" src="<?php echo $this->request->webroot; ?>img/default.png" alt="user">
										<div class="fileupload btn btn-default">
											<a href="<?=BASE_URL?>/uploadphoto"><span class="btn-text">edit</span></a>
											<!-- <input class="upload" type="file"> -->
										</div>
									</div>
				<form action='teacheradminuploadimages' method='post' enctype="multipart/form-data">
					<center>
						<table>
							<tr>
								<td></td>
								<td>
									<!-- <?php foreach($p as $usr) { ?> -->
										<img class="img-circle" style="height: 300px; margin-bottom: 10px;" src="<?php echo $this->request->webroot; ?>img/<?php var_dump($photo); echo $photo[0]->photo; ?>" alt="">
									<!-- <?php } ?> -->
									<input name="ufile" type="file" id="ufile" class="form-control btn-default"/></td>
								</td>
							</tr>
						</table>
						<br>
						<p><input type='submit' name='submit' class="btn btn-primary" value='upload photo'></p>
					</center>
				</form>
			</div>
		</section>
	</div>
</div>
